@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --color-primary: hsl(47, 88%, 63%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey: hsl(0, 0%, 50%);
  --color-black: hsl(0, 0%, 7%);
}

body {
  width: 100vw;
  height: 100dvh;
  display: grid;
  background-color: var(--color-grey-light);
  font-family: 'Outfit';
}

main {
  align-self: center;
  margin-top: auto;
  display: grid;
  place-items: center;
}

.card {
  padding: 16px;
  margin: 16px;
  border-radius: 20px;
  width: 320px;
  background-color: white;
}

.card__qr-code {
  border-radius: 10px;
}

.card__heading {
  font-size: 22px;
  font-weight: bold;
  color: var(--color-navy-dark);
  text-align: center;
  margin: 16px;
  margin-top: 24px;
}

.card__description {
  font-size: 15px;
  color: var(--color-grey);
  text-align: center;
  margin: 16px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 10px;
  position: sticky;
  align-self: end;
  min-width: 320px;
}

.attribution a {
  color: var(--color-blue);
}
